@font-face {
            font-family: 'MinionPro';
            src: url('../assets/Document fonts/MinionPro-Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Symbol';
            src: url('../assets/Document fonts/Symbol.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Times New Roman';
            src: url('../assets/Document fonts/Times New Roman.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: 'Times New Roman Bold';
            src: url('../assets/Document fonts/Times New Roman Bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: 'Times New Roman Bold Italic';
            src: url('../assets/Document fonts/Times New Roman Bold Italic.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        html {
            scroll-behavior: smooth;
        }

        :root{
             --color-beige-c: rgb(194, 177, 143);
             --color-beige-dark: #dcc59d;
             --color-beige-card: #dbd2c2;
             --color-agri-a: rgb(47, 70, 30);
             --color-agri-dark: #0e230a;
             --color-blue: rgb(25,45,80);
             --color-orange: #e38b1a;
             --color-new-black: rgb(3,2,0);
        }
       
        .symbol{
            font-family: 'Symbol', sans-serif;
        }        
        
        .font-serif-custom {
            font-family: 'MinionPro', serif;
        }

        .times-new-roman{
            font-family: 'Times New Roman', serif;
        }

        .times-new-roman-bold{
            font-family: 'Times New Roman Bold', serif;
        }

        .times-new-roman-bold-italic{
            font-family: 'Times New Roman Bold Italic', serif;
        }


        *{
            font-family: 'Symbol', sans-serif;
        }

        .active-link {
            color: white !important;
            font-weight: bold !important;
        }

        #main-header.bg-white .active-link {
            color: var(--color-agri-dark) !important;
        }